<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bayareatours">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventsActivity"
            android:label="Bay Area Events"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".HikingActivity"
            android:label="Hiking Locations - Bay Area"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ParksActivity"
            android:label="Bay Area Parks"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RestaurantActivity"
            android:label="Bay Area Restaurants"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>